@charset "UTF-8";
.l-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 265px;
    background: #3d485d;
}

.vr-logo-box {
    background-image: url(../image/logo-bg.png);
    background-repeat: repeat-y;
    height: 64px;
}

.vr-logo {
    display: block;
    height: 100%;
    background: url(../image/logo.png) no-repeat 50% 50%;
}

.vr-courses-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #f2f2f2;
    font-size: 16px;
    background: #354052;
}

.vr-courses-list li {
    height: 58px;
    cursor: pointer;
    position: relative;
}

.vr-courses-item {
    position: relative;
    padding-left: 58px;
    line-height: 58px;
    background: url(../image/cb-tubiao1.png) no-repeat 28px 3px;
    color: #a4afc3;
}

.vr-courses-list li:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../image/cb-gaoliang.png) repeat 0 0;
    background-size: 100% 100%;
    transition: width .5s;
}

.vr-courses-list li:hover .vr-courses-item {
    color: #fff;
    background-image: url(../image/cb-gaoliang2.png);
}

.vr-courses-list li.ui-on {
    color: #eff1f1;
    background: #4f5f79;
}

.vr-courses-list li.ui-on .vr-courses-item {
    color: #eff1f1;
    background-image: url(../image/cb-gaoliang2.png);
}

.vr-courses-list li.ui-on::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: url(../image/cb-gaoliang.png) repeat 0 0;
    background-size: 100% 100%;
    transition: width .5s;
}

.l-content {
    background: #edf2f6;
    height: 100%;
    margin-left: 265px;
}

.l-top {
    background: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    padding: 20px 0;
}

.user-info-item {
    position: relative;
    display: inline-block;
    padding: 0 16px;
}

.user-info-item::before {
    content: "";
    position: absolute;
    width: 1px;
    background: #edf2f6;
    left: 0;
    top: -2px;
    bottom: -2px;
}

.user-info-item:first-child::before {
    display: none;
}

.user-info-item .vr-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.user-info-txt {
    vertical-align: middle;
    font-size: 14px;
    color: #a0a0a0;
}

.vr-extend {
    float: right;
    margin: -3px 54px 0 0;
    border: 1px solid #16a4fa;
    padding: 5px;
}

.vr-extend-txt {
    color: #16a4fa;
}

.vr-icon {
    background: no-repeat;
    background-position: 50% 50%;
}

.vr-icon-ppl {
    background-image: url(../image/username.png);
}

.vr-icon-info {
    background-image: url(../image/user-id.png);
}

.l-main-hd {
    height: 50px;
    background: #fafbfd;
    border-bottom: 1px solid #e2e2e2;
}

.vr-tab-item {
    float: left;
    margin: 20px 25px;
}

.clearfix {
    clear: both;
}

.vr-btn {
    float: right;
    margin: 20px 25px;
}